button.button {
  color: black;
  background-color: white;
  width: fit-content;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.03);
    opacity: 0.8;
  }
}
